<% if @game.current_turn == @game.player_one %>
  <div> 
    <%= @game.player_one.name %> attacks <%= @game.player_two.name %>
  </div>
<% else %>
  <div> 
    <%= @game.player_two.name %> attacks <%= @game.player_one.name %>
  </div>
 <% end %> 


<div>
  <form action="/switch-turns" method="post">
    <input type="submit" value="ok">
  </form>
</div>