
<div> <%= @player_1.name %> vs. <%= @player_2.name %> </div>

<div> <%= @player_2.name %> <%= @player_2.hit_points %>HP</div>

<div>
  <form action="/attack" method="get">
    <input type="submit" value="attack">
  </form>
</div>